<ion-header class="ion-no-border" no-border>
    <app-header-component [properties]="headerProperties"></app-header-component>
</ion-header>
<super-tabs (tabChange)="changePage($event)">
    <super-tabs-toolbar color="light">
        <super-tab-button>
            <ion-icon name="information-outline"></ion-icon>
        </super-tab-button>
        <super-tab-button>
            <ion-icon name="people-outline"></ion-icon>
        </super-tab-button>
    </super-tabs-toolbar>
    <super-tabs-container>
        <super-tab>
            <form [formGroup]="group">
                <ion-list lines="none">
                    <ion-item-divider mode="md">
                        <ion-label> Datos de la observación </ion-label>
                    </ion-item-divider>
                    <ion-item>
                        <ion-icon (click)="editType()" color="primary" name="{{iconType()}}" slot="start"></ion-icon>
                        <ion-label position="stacked">{{labelType()}}</ion-label>
                        <ion-input formControlName="name" readonly={{getReadonly()}}> </ion-input>
                    </ion-item>
                </ion-list>
            </form>
        </super-tab>
        <super-tab>
            <ion-item-divider mode="md">
                <ion-label>Detalles <small>{{particularCount}}</small></ion-label>
                <ion-buttons *ngIf="!getReadonly()" slot="end">
                    <ion-button (click)="newParticular()" disabled={{wait}}>
                        <ion-icon color="success" name="add-outline" slot="icon-only"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-item-divider>
            <app-list-component [properties]="particularListProperties" #PLP></app-list-component>
        </super-tab>
    </super-tabs-container>
</super-tabs>